$primary: #7D919A;
$primary-grey: #555555;
$accent: darken(#91D8F7,5%);
$background: #333333;
$feature-dark: #202642;
$feature-light: #1e6a97;

$background-mix: mix($background, $primary, 10%);


/*  Navbar  */

.navbar-brand>img {
    display: block;
    height: auto;
    width: 52px;
    margin-right: 15px;
}
span.navbar-brand  {
	padding: 20px 0 !important;
	font-size: 140%;
	font-weight: bold;
}

span.navbar-brand a {
	color: $primary-grey;
}

header .navbar-default .navbar-nav li a {
	
}

header .navbar-default .navbar-nav li a:hover {
	background-color: #DDD;
	opacity: 0.8;
}

/* Header */

.section-title h2 {
	text-transform: none;   
    font-size: 28px;
    font-weight: 600;    
    margin-top: 20px;
    margin-bottom: 10px;
}
.section-title p {
    font-family: 'Volkhov', serif;
    font-style: italic;
}

/* Colors */

.bg-primary {
	background: $accent;
}

/*  Overlays and Buttons  */

a.btn.btn-main {
	text-transform: none;
	font-weight: 600;
}

#slider {
  background: url("../img/slider-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section#slider:before{
    background: linear-gradient(to left, $background, $background-mix);
}

section#global-header {
	background: url('../img/transmission-lines.jpg');
	background-attachment: fixed;
	background-size: cover;
}

section#global-header:before{
    background: linear-gradient(to left, $background, $background-mix);
}

section#global-header h1 {
}

section#global-header i {
    font-size: 60px;
}

section#call-to-action {
    background: url("../img/transmission-sunrise-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section#call-to-action:before{
    background: linear-gradient(to left, $background, $background-mix);
}

#call-to-action a.btn-call-to-action {
	background: $accent;
	color: white;
	border-radius:0;
}

#call-to-action a.btn-call-to-action:hover {
	background: #DDD;
	color: $background;
	border-radius:0;
}

a.btn.btn-main {
	background: $accent;
}

a.btn.btn-main:hover {
	background: $primary-grey;
}

#contact-form div button.btn.btn-default {
	background: $accent;
}


#service div.service-item {
	padding-left: 5px;
	padding-right: 5px;
}
div.service-item i {
	color: $accent !important
}

div.service-item:hover{

}


#service div.service-item h2{
	
}
#service div.service-item:hover h2{
	
}

#service div.service-item:hover h4{
	
}


#service div.service-item:hover p{

}

#service div.service-item  p  a{
	/*display: none;*/

  background: $accent;  
  color: white;
}

#service div.service-item p  a:hover{
  background: $primary-grey;  
  color: white;
	display: inline-block;
	
}

.overlay {
  position: absolute;
  margin: 0 15px 0 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 95%;
  opacity: .15;
  transition: .3s ease;
  background: linear-gradient(to left, $background,$background-mix);
}

.overlay:hover {
	opacity: 0;
}

.service-feature {
	text-align: center;

}
.service-feature i {
	font-size: 45px;
	color: $accent;
	margin-bottom: 30px;
}
.service-feature h4 {
	color: $primary-grey;
}



/*.service-arrow .row [class*="col-"] {
  flex-grow: 1;
}

.service-arrow .row {
  display: flex;
  flex-wrap: wrap;
}*/

/*  Index Feature Page  */

section#feature {
	background: url("../img/solar-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*#feature h2 {
	color: #333333;
}*/
#feature > div > div > div > strong {
	color:#FFF;
}
section#feature .container p {
	color: #DDD !important;
}
section#feature:before{
    background: linear-gradient(to left, $feature-light, $feature-dark);

    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.92;
}

section#feature .container {
	color: #E3E3E4;
}

section#feature .container p {
	color: #b9b9b9;
}

.feature-body {
	background-color: rgba(25,25,25,.25);
	padding-top: 15px;
	padding-bottom:15px;
	padding-left: 15px;
	padding-right: 15px;

}

/* About */

.social span{
	color: #7B7B7B;
}
.social i{
    margin-right: 15px;
    font-size: 20px;
    width: 20px;
		color: $accent;
}



/* Developer Documentation */

section#developer {
  text-align: center;
  padding: 90px 0;
}

section#developer div.body {
	text-align: left;
}

/*  Blog  */

a.post-title {
    color: #7fb7cd;
}

.blog-post img {
	border-style: solid;
	border-color: #888;
	border-width: 1px;
}
li.login-button {
	border-color: black;
	border-width: 1px;
	border-style: solid;
}



/* Service */
.service-arrow .block {
  padding: 70px 30px;
}

.service-arrow .block i {
  font-size: 40px;
}

.service-arrow .block p {
  color: #fff;
}

.service-arrow .row [class*="col-"] {
  flex-grow: 1;
}

.service-arrow .row {
  display: flex;
  flex-wrap: wrap;
}

.bg-gray {
    background: #f5f5f5;
}

.service-list .block {
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
}

.service-list .block p {
  color: #7B7B7B;
}

.service-arrow .block p {
  color: #fff;
}

#contact-form div button.btn.btn-default:hover {
	background-color: $primary-grey
}

/* Logo */

section#clients-logo-section{
	padding-top: 95px;
	padding-bottom: 5px;
}

/* Util */


.text-align-center {
	text-align: center;
}

