$primary: #7D919A;
$accent: darken(#91D8F7,5%);
$background: #333333;
$shade1: #82c2de;
$shade2: #74acc5;
$shade3: #6597ac;
$shade4: #578194;
$shade5: #486c7b;
$shade6: #3a5662;
$shade7: #2b404a;
$shade8: #1d2b31;
$shade9: #0e1518;

$background-mix: mix($background, $primary, 10%);


/*  Navbar  */

.navbar-brand>img {
    display: block;
    height: auto;
    width: 52px;
    margin-right: 15px;
}
span.navbar-brand  {
	padding: 20px 0 !important;
	font-size: 140%;
	font-weight: bold;
}

header .navbar-default .navbar-nav li a {
	
}

header .navbar-default .navbar-nav li a:hover {
	background-color: $background;
	opacity: 0.2;
	color: #DDD;
}

/* Header */

.section-title h2 {
	text-transform: none;   
    font-size: 28px;
    font-weight: 600;    
    margin-top: 20px;
    margin-bottom: 10px;
}
.section-title p {
    font-family: 'Volkhov', serif;
    font-style: italic;
}
/* Colors */

.bg-primary {
	background: $accent;
}

/*  Overlays and Buttons  */
#slider {
  background: url("../img/slider-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

section#slider:before{
    background: linear-gradient(to left, $background, $background-mix);
}

section#global-header {
	background: url('../img/transmission-lines.jpg');
	background-attachment: fixed;
	background-size: cover;
}

section#global-header:before{
    background: linear-gradient(to left, $background, $background-mix);
}

section#call-to-action:before{
    background: linear-gradient(to left, $background, $background-mix);
}

a.btn.btn-main {
	background: $accent;
}

#contact-form div button.btn.btn-default {
	background: $accent;
}

div.service-item i {
	color: $accent !important
}

.overlay {
  position: absolute;
  margin: 0 15px 0 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 95%;
  opacity: .15;
  transition: .3s ease;
  background: linear-gradient(to left, $background,$background-mix);
}

.overlay:hover {
	opacity: 0;
}




/*  Index Feature Page  */

section#feature {
	background: url("../img/solar-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*#feature h2 {
	color: #333333;
}*/
#feature > div > div > div > strong {
	color:#FFF;
}
section#feature .container p {
	color: #DDD !important;
}
section#feature:before{
    background: linear-gradient(to left, $background,$background-mix);

    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.92;
}

section#feature .container {
	color: #E3E3E4;
}

section#feature .container p {
	color: #b9b9b9;
}

.feature-body {
	background-color: rgba(25,25,25,.25);
	padding-top: 15px;
	padding-bottom:15px;
	padding-left: 15px;
	padding-right: 15px;

}

/* About */



/* Developer Documentation */

section#developer {
  text-align: center;
  padding: 90px 0;
}

section#developer div.body {
	text-align: left;
}

/*  Blog  */

a.post-title {
    color: #7fb7cd;
}

.blog-post img {
	border-style: solid;
	border-color: #888;
	border-width: 1px;
}
li.login-button {
	border-color: black;
	border-width: 1px;
	border-style: solid;
}



/* Service */
.service-arrow .block {
  padding: 70px 30px;
}

.service-arrow .block i {
  font-size: 40px;
}

.service-arrow .block p {
  color: #fff;
}

.bg-gray {
    background: #f5f5f5;
}

.service-list .block {
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
}

.service-list .block p {
  color: #7B7B7B;
}

/* Service */
.service-arrow .block {
  padding: 70px 30px;
}

.service-arrow .block i {
  font-size: 40px;
}

.service-arrow .block p {
  color: #fff;
}
/* Util */


.text-align-center {
	text-align: center;
}

