.navbar-brand>img {
    display: block;
    height: auto;
    width: 52px;
    margin-right: 15px;
}
span.navbar-brand  {
	padding: 20px 0 !important;
	font-size: 140%;
	font-weight: bold;
}

section#slider:before{
    background: linear-gradient(to left, #333333, #7D919A);
}

section#global-header:before{
    background: linear-gradient(to left, #333333, #7D919A);
}

section#call-to-action:before{
	background: #7D919A;
}

a.btn.btn-main {
	background: #7D919A;
}

#contact-form div button.btn.btn-default {
	background: #7D919A;
}


div.service-item i {
	color: #7D919A !important
}

section#feature {
	background: url("../img/solar-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*#feature h2 {
	color: #333333;
}*/
#feature > div > div > div > strong {
	color:#FFF;
}
section#feature .container p {
	color: #DDD !important;
}
section#feature:before{
    background: linear-gradient(to left, #222,#7D919A);

    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.92;
}

section#feature .container {
	color: #E3E3E4;
}

section#feature .container p {
	color: #b9b9b9;
}

.feature-body {
	background-color: rgba(25,25,25,.25);
}


a.post-title {
    color: #7D919A;
}

header .navbar-default .navbar-nav li a {
	text-transform: uppercase;
}

header .navbar-default .navbar-nav li a:hover {
	background-color: #333333;
	opacity: 0.2;
	color: #DDD;
	font-weight: bold;
}

.blog-post img {
	border-style: solid;
	border-color: #888;
	border-width: 1px;
}