.navbar-brand>img {
    display: block;
    height: auto;
    width: 52px;
    padding-top: 5px;
    margin-right: 15px;
}
span.navbar-brand  {
	padding: 24px 0 !important;
	font-size: 140%;
	font-weight: bold;
}

section#slider:before{
    background: linear-gradient(to left, #333333, #7D919A);
}

section#global-header:before{
    background: linear-gradient(to left, #333333, #7D919A);
}

section#call-to-action:before{
	background: #7D919A;
}

a.btn.btn-main {
	background: #7D919A;
}

#contact-form div button.btn.btn-default {
	background: #7D919A;
}


div.service-item i {
	color: #7D919A !important
}

section#feature {
	background: url("../img/solar-bg.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
section#feature:before{
    background: linear-gradient(to left, #333333, #7D919A);

    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
}

section#feature .container {
	color: #E3E3E4;
}

section#feature .container p {
	color: #b9b9b9;
}


a.post-title {
    color: #7D919A;
}