{{- define "main" }}
{{- $current := .RelPermalink }}
<div class = 'wrap grid-inverse pt-4'>
  <div>
    {{- .Content }}
  </div>
</div>
<div class = 'tags wrap'>
  <a class = 'tag{{ if and (eq $current .RelPermalink) (in .RelPermalink "blog" ) }} tag_active{{ end }}' href = '/blog/'>All posts</a>
  {{- range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  {{- range $key, $value := $taxonomy }}
  {{- $tag := replace $key "-" " " }}
  {{- $permalink := printf "/tags/%s/" $key }}
  {{- if in $.Site.Params.blogTags $tag }}
  <a class = 'tag{{ if eq $current $permalink }} tag_active{{ end }}' href = '{{ $permalink }}'>{{ $tag }}</a>
  {{- end }}
  {{- end }}
  <a href = '/search/' class = 'tag search_tag'></a>
</div>
{{- end }}
<hr>
<div class = 'wrap grid-inverse pb-2'>
  <div>
    {{- if eq .RelPermalink "/blog/" }}
    <h2 class = 'mb-1 color'>Featured Post</h2>
    {{- $featured := index (where .Site.RegularPages ".Params.featured" true) 0 }}
    {{- $author := index (where .Site.Data.authors ".name" $featured.Params.author.name) 0 }}
    <a href = '{{ $featured.Permalink }}'>
      <figure>
        <img src="{{ $featured.Params.image }}">
      </figure>
      <h3 class = 'mt-1'>{{ $featured.Title }}</h3>
      <p>{{ $featured.Summary | truncate 160 | markdownify }}</p>
      <div class = 'post_meta pb-2'>
        <figure class = 'post_avatar'>
          <img src = '{{ $author.image }}' alt = 'author picture'>
        </figure>
        <div>
          <span class = 'post_author'>{{ $featured.Params.author.name }}</span>
          <span class = 'post_date'>{{ dateFormat "January 02, 2006" $featured.Date }}</span>
        </div>
      </div>
    </a>
    <hr>
    {{- end }}
    <div>
      <h2 class = 'color'>Most Recent</h2>
      {{- range (.Paginate .Pages).Pages }}
      <div class = 'mt-1 mb-3' {{ with .Params.tags }}data-tags = '{{ delimit . ", " "" }}'{{ end }}>
        {{ partial "excerpt.html" . }}
      </div>
      {{- end }}
      <hr>
      <div class = "pt-2">
        {{- partial "pager.html" . }}
      </div>
    </div>
  </div>
  <aside>
    <h2 class = 'mb-1 color'>Most Popular Posts</h2>
    {{- range (.Paginate .Pages).Pages }} 
    <div class = 'mb-2' {{ with .Params.tags }}data-tags = '{{ delimit . ", " "" }}'{{ end }}>
      {{- partial "excerpt.html" . }}
    </div>
    {{- end }}
  </aside>
</div>
{{- end -}}
