{{ define "main" }}
{{ partial "blog-header.html" . }}

<div class="post">
	<section class="post_header" id="developer">
		<h1>{{ .Params.title }}</h1>
		<div class="post-info-wrapper">
			<p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{ dateFormat "January 2006" .Date }}</span></p>
		</div>
	</section>
	<section class="post_content">
		{{ .Content }}
	</section>
	<p class="center-text" style="padding: 30px;">
		<a class="btn btn-main" href= {{ absURL "blog" }}>Back to blog</a>
	</p>
</div>

{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
{{ partial "call-to-action.html" . }}
{{ end }}
{{ end }}
