{{ partial "global-header.html" . }}
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.about.name1 }}</h2>
            <p>{{ .Site.Params.about.role1 }}</p>
          </div>
          <p>{{ .Site.Params.about.bio1 }}</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .Site.Params.about.headshot1 }}" alt="img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <img src="{{ .Site.Params.about.headshot2 }}"  alt="img" style="width:75%">
        </div>
      </div><!-- .col-md-5 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .Site.Params.about.name2 }}</h2>
            <p>{{ .Site.Params.about.role2 }}</p>
          </div>
          <p>{{ .Site.Params.about.bio2 }}</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>

<!-- Clients Logo Section Start -->
{{ with .Site.Data.about.clients }}
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-align-center">
        <h2>{{.title }}</h2>
        <p>{{ .subtitle }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range .list }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}