{{ partial "global-header.html" . }}
<!-- Wrapper Start -->
{{ with .Site.Data.about.us.eric}}
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .name }}</h2>
            <p>{{ .role }}</p>
          </div>
          <!-- <p>{{ .bio }}</p> -->
          {{ range .extendedbio }}
            <p>{{.}}</p>
          {{ end }}
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{$.Site.BaseURL}}{{ .headshot }}" alt="img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
{{ end }}


{{ with .Site.Data.about.us.jake}}
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <img src="{{ $.Site.BaseURL }}{{ .headshot }}"  alt="img" style="width:75%">
        </div>
      </div><!-- .col-md-5 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .name }}</h2>
            <p>{{ .role }}</p>
          </div>
          <p>{{ .bio }}</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>
{{ end }}

<!-- Clients Logo Section Start -->
{{ with .Site.Data.about.clients }}
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-align-center">
        <h2>{{.title }}</h2>
        <p>{{ .subtitle }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="client-list" class="owl-carousel">
            {{ range .list }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}