<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p>Copyright &copy; Anderson Optimization. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
</script>
<script src={{ absURL "js/bootstrap.min.js" }}></script>
<script src={{ absURL "js/owl.carousel.min.js" }}></script>
<script src={{ absURL "js/plugins.js" }}></script>
<script src={{ absURL "js/jquery.magnific-popup.min.js" }}></script>
<script src={{ absURL "js/slick.min.js" }}></script>
<script src={{ absURL "js/main.js" }}></script>
