<section class = 'grid-2 wrap_min pb-4'>
{{ range .Site.Data.founders }}
  <div>
    <div>
      <img src = '{{ .image }}' alt = '{{ .name }} picture' class = 'avatar'>
    </div>
    <div>
      <h3 id = 'head-of-technology'>{{ .role }}</h3>
      <h4 id = 'eric-anderson-phd'>{{ .name }}</h4>
      <figure class='icon_small'>
        <img src = '/images/linkedin-blue.svg' alt = 'linkedin icon' class = 'icon'>
      </figure>
      {{ .profile }}
      {{ .bio | markdownify }}
    </div>
  </div>
{{ end }}
</section>
