<div class="wrap grid-3 pb-3">
  {{- range first 3 (where .Site.RegularPages "Section" "blog") }}
  <div class="article_excerpt">
    <a href="{{ .Permalink }}" class="article_thumb" style="background-image: url(/images/{{ .Params.image }})"></a>
    {{- with .Params.tags }}
    {{- $randomTag := index (shuffle .) 0 }}
    <a href="/tags/{{ anchorize (lower $randomTag) }}">
      <div class = 'button button_translucent'>{{ $randomTag }}</div>
    </a>
    {{- end }}
    <div class="article_preview">
      <a href="{{ .Permalink }}">
        <h3 class="article_title">{{ .Title }}</h3>
      </a>
      {{- .Summary | truncate 150 }}
    </div>
  </div>
  {{- end }}
</div>
