<form class = 'form form_login' action = '' method = 'POST' accept-charset = 'UTF-8'>
  <fieldset class="loner">
    <label class = 'form_label' for = 'name'>Name</label>
    <input type = 'text' class = 'mb-1 form_input'  id = 'name' name = 'Name' placeholder = 'e.g John' required>
  </fieldset>
  <fieldset class="loner">
    <label class = 'form_label' for = 'name'>Password</label>
    <input type = 'password' class = ' form_input'  id = 'name' name = 'Name' placeholder = '........' required>
    <br><a href = '#'>Forgotten Password?</a>
  </fieldset>
  <button  class = 'button loner' type = 'submit' id = 'submit'>Sign In</button>
</form>
