<!-- Service Start -->
<section id="service">
  <div class="container">  
    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.service.title }}</h2>
        <p>{{ .Site.Data.service.subtitle }}</p>
      </div>
    </div>
    
    {{ with .Site.Data.service.platform}}
    <div class="row">
      <div>
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h3>{{ .product }}</h3>
          <h4>{{ .category }}</h4>
          <p>{{ .description }}</p>
          {{ with .button }}
          <p>
            <a href="{{ $.Site.BaseURL }}{{ .url }}" class="btn btn-main">{{ .caption }}</a>
          </p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    
    <!-- Content -->
    <div class="row">
      {{ range sort .Site.Data.service.software "order" }}
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h3>{{ .product }}</h3>
          <h4>{{ .category }}</h4>
          <p>{{ .description }}</p>
          {{ with .button }}
          <p>
            <a href="{{ $.Site.BaseURL }}{{ .url }}" class="btn btn-main">{{ .caption }}</a>
          </p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
