{{ partial "global-header.html" . }}

{{ partial "service-overview.html" . }}

{{ partial "service-header.html" .Site.Data.service.platform }}

{{ with .Site.Data.service.platform }}
<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

		<div class="row">
			{{ range .features }}
			<div class="col-md-12">
				<h4>{{.name}}</h4>
				<p>
        		{{ range .items }}
        			 {{ . }}
        		{{ end }}
        		</p>
			</div>
			{{end}}
		</div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Platform Benefits</h4>
          <ul>
          	{{ range .benefits }}
            <li><span><i class="fa fa-shirtsinbulk "></i> {{ .title}}</span> 
            	<ul>
            		{{ range .items }}
            			<li> {{ . }}</li>
            		{{ end }}
            	</ul>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</section>
{{ end }}


{{ range sort .Site.Data.service.software "order" }}

{{ partial "service-header.html" . }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

		<div class="row">
			{{ range .features }}
			<div class="col-md-12">
				<h4>{{.name}}</h4>
				<p>
        		{{ range .items }}
        			 {{ . }}
        		{{ end }}
        		</p>
			</div>
			{{end}}
		</div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Platform Benefits</h4>
          <ul>
          	{{ range .benefits }}
            <li><span><i class="fa fa-shirtsinbulk "></i> {{ .title}}</span> 
            	<ul>
            		{{ range .items }}
            			<li> {{ . }}</li>
            		{{ end }}
            	</ul>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</section>
{{ end }}
