{{ partial "global-header.html" . }}

{{ partial "service-overview.html" . }}

{{ partial "service-header.html" .Site.Data.service.platform }}

{{ with .Site.Data.service.platform }}
<section class="portfolio-single-page section-sm">
  <div class="container" style="padding-bottom: 30px">
    <div class="row">
      <div class="col-md-12">
    		<div class="row">
    			{{ range .features }}
    			<div class="col-md-3 service-feature">
            <i class="{{ .icon }}"></i>
    				<h4>{{.name}}</h4>
    				<p>
            		{{ range .items }}
            			 {{ . }}
            		{{ end }}
            		</p>
    			</div>
    			{{end}}
    		</div>
      </div>
    </div>
  </div>

  <div class="container bg-gray">
    <div class="row">
      <div class="col-md-12">
        <div class="project-details">
          <h4>Software Benefits</h4>
            <div class="row">
              {{ range .benefits }}
              <div class="col-md-4">
                <h5>{{.title}}</h5>
                {{ range .items}}
                <p>{{ . }}</p>
                {{ end }}
              </div>
                {{end}}
            </div>
        </div>
      </div>
    </div>
  </div>

</section>
{{ end }}


{{ range sort .Site.Data.service.software "order" }}

{{ partial "service-header.html" . }}

<section class="portfolio-single-page section-sm">
  <div class="container" style="padding-bottom: 30px">
    
    <div class="row">
      <div class="col-md-12">
        <div class="row">
    			{{ range .features }}
    			<div class="col-md-3 service-feature">
            <i class="{{ .icon }}"></i>
            <h4>{{.name}}</h4>
    				<p>
            		{{ range .items }}
            			 {{ . }}
            		{{ end }}
            		</p>
    			</div>
    			{{end}}
    		</div>
      </div>
    </div> 
  </div>
  
  <div class="container bg-gray">
    <div class="row">
      <div class="col-md-12">
        <div class="project-details">
          <h4>Software Benefits</h4>
            <div class="row">
              {{ range .benefits }}
              <div class="col-md-4">
                <h5>{{.title}}</h5>
                {{ range .items}}
                <p>{{ . }}</p>
                {{ end }}
              </div>
                {{end}}
            </div>
        </div>
      </div>
    </div>
  </div>

</section>
{{ end }}



