<div class = 'share'>
  <a class = 'share_item facebook' href = 'https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}' title = 'Share on Facebook'
    >
    <img src = '/images/facebook.svg' alt = 'share'>
  </a>
  <a class = 'share_item twitter' href = 'https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}' title = 'Share on Twitter'
  >
    <img src = '/images/twitter.svg' alt = 'share'>
  </a>

  <a rel = 'nofollow' class = 'share_item whatsapp' href="whatsapp://send?text={{ .Permalink }}" data-action="share/whatsapp/share" title="Share on Whatsapp"><img src ='/images/whatsapp.svg' alt = 'icon'/></a>
  <a class = 'share_item copy' href = '{{ .Permalink }}' title =  'Copy Link'>
    <img src ='/images/copy.svg' alt = 'icon'/>
  </a>
</div>
