{{- define "main" }}
{{- .Content }}
<!-- {{- $current := .RelPermalink }}
<div class = 'wrap grid-inverse pt-4'>
  <div>
    {{- .Content }}
  </div>
</div>
<div class = 'wrap pb-2'>
  <div>
    <h2>Solutions</h2>
    <div class = 'grid-2'>
      {{- range where .Site.RegularPages "Section" "solutions" }}
      <a href = '{{ .RelPermalink }}' class = 'mt-1 mb-3 block card-block'>
        <img src = '/images/{{ .Params.image }}'>
        <h3 class = 'color'>{{ .Title }}</h3>
        <p>{{ replace (.Params.markets.description | truncate 160) "#" "" }}</p>
      </a>
      {{- end }}
    </div>
  </div>
</div> -->
{{- end -}}
